:root {
    --background-color: #F39C12;
    --button-color: #3e3e8e;
}

/* Elements */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);

}
button {
    border: none;
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--button-color);
    color: #fff;
    font-size: 1.2rem;

}
input {
    background-color: #f6ebeb;
    padding: .5rem;
}
/* The container with the entire game */
.game-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}



/* First screen you're prompted with. */
.start-menu {
    padding: 2rem;
}
.start-menu h1 {
    font-size: 1.4rem;
    margin-bottom: .4rem;
}
.start-menu p {
    font-size: 1.1rem;
    margin-bottom: .2rem;
}
/* What you will be prompted with when taking quiz */
.quiz-container {
    margin: 2rem;
}

/* Container for the four multiple choice questions. It's within the Quiz Container */
.questions-container {
    display: flex;
    flex-direction: column;
}
.questions-container button{
    text-align: left;
}
/* Styling for multiple choice elements */
.choice {
    background-color: var(--button-color);
    padding: .5rem;
    margin: .4rem;
}

.choice:hover {
    cursor: pointer;
}

/* The container for the highscores is a modal */
.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--background-color);
    padding: 5rem;
    z-index: 10;
}
/* The button to close the modal */
#modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .8rem;
    border-radius: 5px;
    
}
.modal-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.modal-container li {
    font-size: 1.3rem;
}

/* Button to open modal */
#modal-btn {
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: 1rem;
}

/* Final screen after completing game */
.high-score-container {
    margin: 2rem;
}

/* Classes that are toggled on and off with JS */

/* To blur the background */
.blur {
    opacity: .5;
}

/* To hide things that do not need to be seen yet. */
.hidden {
    display: none;
}