body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.choice {
    background-color: pink;
    margin: .4rem;
}

.choice:hover {
    cursor: pointer;
}

.modal-container {
    border: black solid 1px;
    position: absolute;
    background-color: #fff;
    z-index: 10;
}
.blur {
    opacity: .5;
}